body {
	background-color: #E3DECC;
	font-family: 'Lato', Arial, Helvetica, 'ヒラギノ角ゴ Pro W3', Meiryo, sans-serif;
}

body.modal-open {
	overflow: inherit;
	padding-right: inherit !important;
}

.card {
	box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);
	word-wrap: break-word;
}

#app > .container {
	padding-top: 65px;
}

.navbar {
	background-color: #CCDFCC;
	box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
	font-family: 'Courgette';
	font-size: 1.5em;
	color: #e6b422 !important;
	text-shadow: 2px 2px 2px rgba(255, 237, 171, 0.5), -2px 2px 2px rgba(255, 237, 171, 0.6), 2px -2px 2px rgba(255, 237, 171, 0.6), -2px -2px 2px rgba(255, 237, 171, 0.5);
}

#detailModal {
	word-wrap: break-word;
}

#detailModal input {
	width: 350px;
}
